
<div class="container">
    <div class="resume">
        <div class="profile_info">
          <div class="profile-img">
             <img src="./assets/img/emeka.jpg" alt="profile_img">
          </div>
          <div class="profile_data">
           <p class="name">obikoru emeka</p>
           <span>lagos ,nigeria</span>
          </div>
        </div>
        <div class="skills">
            <div class="title">
            SKILLS
            </div>
            <ul>
                <li>
                    <div class="skill_items html">
                        <div class="icon">
                            <img src="./assets/img/html.png" alt="html">
                        </div>
                        <div class="text">html</div>
                    </div>
                </li> 
               
                <li>
                    <div class="skill_items css">
                        <div class="icon">
                            <img src="./assets/img/css.jpg" alt="css">
                        </div>
                        <div class="text">css</div>
                    </div>
                </li>
                <li>
                    <div class="skill_items javascript">
                        <div class="icon">
                            <img src="./assets/img/javascriot.png" alt="javascriot">
                        </div>
                        <div class="text">javascript</div>
                    </div>
                </li>
                <li>
                    <div class="skill_items bootstrap">
                        <div class="icon">
                            <img src="./assets/img/bootstrap.jpg" alt="bootstrap">
                        </div>
                        <div class="text">bootstrap</div>
                    </div>
                </li>
                <li>
                    <div class="skill_items nodejs">
                        <div class="icon">
                            <img src="./assets/img/node.png" alt="nodejs">
                        </div>
                        <div class="text">nodejs</div>
                    </div>
                </li>
                <li>
                    <div class="skill_items ui_ux">
                        <div class="icon">
                            <img src="./assets/img/ui.png" alt="ui ux">
                        </div>
                        <div class="text">ui_ux</div>
                    </div>
                </li>
            </ul>
         </div>
         <div class="full-info_wrap">

             <div class="full_info">
                 <div class="info_wrap">
                    <div class="title">
                        <h3>Work Experience</h3>
                    </div>
                    <ul>
                        <li>
                            <div class="date">July 2019-June 2020</div>
                            <div class="info">	Government Girls Day Secondary School, Gwandu, Kebbi State
                                                   (Civic Education Teacher, NYSC)
                                               <p>Planning, Preparing and delivering of lessons to all students</p>	
                                                       
                            </div>
                        </li>
                       
                        <li>
                            <div class="date">August 2013- November 2014 </div>
                            <div class="info">
                                    Stock Taking
                                    ,Managed Sales
                                    ,Coordinates sales activities
                                
                            </div>
                        </li>
                    </ul>
                </div>  
                 </div>
                
                 <div class="resume_item_resume_education">
                    <div class="title">
                        <h3>Education</h3>
                    </div>
                    <ul>
                        <li>
                            <div class="date">2014-2018</div>
                            <div class="info">
                                University Of Lagos ,(B.Ed Guidance and Counselling)
                                
                            </div>
                        </li>
                        <li>
                            <div class="date"> 2021-2021</div>
                            <div class="info">
                                Braintem ,(ui ux design ,wordpress ,html,css,javascript, nodejs certificates)
    
                            </div>
                        </li>
                        <li>
                            <div class="date">2005-2012</div>
                            <div class="info">
                                Torch College, Ketu, Lagos state ,(Senior Secondary Certificate Examination)
                            </div>
                        </li>
                    </ul>
                </div>
                </div>
        

             <div class="contact">
                <div class="title">CONTACT</div>
            </div>
            <div class="info_wrap">
                <ul>
                <li>
                    <div class="icon"><i class="fas fa-compass"></i></div>
                    <div class="data">
                        11, oko ewe street isawo agric ikorod 
                    </div>
                </li>
                <li>
                 <div class="icon"><i class="fas fa-phone-alt"></i></div>
                 <div class="data">
                07017539913
                 </div>
             </li>
             <li>
                 <div class="icon"><i class="fas fa-envelope"></i></div>
                 <div class="data">
                    emekadaniel916@gmail.com 
                 </div>
             </li>
            </ul>
            </div>
         </div>
     </div>
 